<form method="post" action="{{ path('app_back_department_delete', {'id': department.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce rayon?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ department.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
