{% extends 'base.html.twig' %}

{% block title %}Edition d'allergène{% endblock %}

{% block body %}
    <h1 class="text-primary fw-bold">{{allergen.name}}</h1>

    {{ include('back/allergen/_form.html.twig', {'button_label': 'Editer'}) }}

    <a class="mt-3 mb-3 col-3 btn btn-primary" href="{{ path('app_back_allergen_index') }}">Retour</a>

    {{ include('back/allergen/_delete_form.html.twig') }}
{% endblock %}
