{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div>{{ recipeToValidate }} recettes en attente de validation</div>
<div>{{ commentToValidate }} commentaires en attente de validation</div>
{% endblock %}
