{% extends "base.html.twig" %}

{% block body %}
<div class="container my-4">
    <div class="my-5 py-5 text-center">


		
		<h1 class="fw-bold display-1 text-primary">Erreur 403</h1>
        <div class="col-lg-6 mx-auto">
			<h2 class="lead mb-4 text-muted">Accès interdit !</h2>
            <p class="display-6 mb-4">Vous ne disposez pas des droits nécessaires pour accéder à cette page.<p>
            <p class="display-6 mb-4">En cas d'erreur, merci de contacter votre reponsable.<p>
            <a href="{{ path('app_login') }}">Retour</a>
		</div>
        	
	</div>
</div>
{% endblock %}